/* ProductList.css */
.card-container {
  display: block;
  margin-top: 5rem;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
}

.product-card h2 {
  margin-top: 0;
}

.product-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #0056b3;
}
