.dashboard-container {
  display: block;
  min-height: 84vh;
  margin: 0 54px;
}

.info-wrapper {
  display: flex;
  gap: 2rem;
}

.info-section h3 {
  color: black;
}

.image-section {
  align-content: center;
}

kbd {
  padding: 3px 8px;
  font-size: 100%;
  font-weight: 700;
  box-shadow: none;
  background: black;
  color: #fff;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .info-wrapper {
    flex-direction: column;
  }

  .image-section {
    align-self: center;
  }
}
